body{
    background-color: #FFFF00;
}

h1{
    background: blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 43%;
    color: white;
}

.subtitulo{
    background: cyan;
    font-size: 2em;
    color: darkorchid;
    padding-left: 35%;
}

.contenido{
    background: darkred;
    height: 150px;
    font-size: 20px;
    color:white;
    padding: 30px;
    text-align: center;
}

.imagenes {
    margin: auto;
    border: 12px solid yellowgreen;
    padding: 5%;
}

footer{
    color: violet;
    background: cornflowerblue;
    padding: 5%;
    font-size: 25px;
    text-align: center;
}